<h1>Pure Readit</h1>

<h3>Welcome!  This is a place for you to share links about studying the bible, or otherwise growing in faith.
This is a moderated site so do not use profane language or images and please remain respectful dispite dissenting view points.
</h3>